

.good-bad-subject-info {
  font-size: 28px;
  color: #BDA01C;
  margin-left: 40px;
  margin-bottom: 20px;
}

.good-bad-subject-info-normal {
  color: #3a3a3a;
}

.good-bad-subject-info-warp {
  background-color: #fff;
  padding: 20px 0;
}
